# Python
__pycache__/
*.pyc[cod]

# Virtual
.venv/
venv/
env/

# Mac
.DS_Store

# IDE
.vscode/

# Dataset
dataset/frames/
dataset/demo/

# YOLO
models/*
!models/sign-detector.pt
runs/
*.cache

yolo/images/train/*
yolo/images/val/*
yolo/labels/train/*
yolo/labels/val/*

!yolo/images/train/.gitkeep
!yolo/images/val/.gitkeep
!yolo/labels/train/.gitkeep
!yolo/labels/val/.gitkeep

# Additional
logs/