# Python
__pycache__/
*.pyc

# Virtual
.venv/
venv/
env/

# Mac
.DS_Store

# IDE
.vscode/

# Dataset
dataset/images/
dataset/labels/
dataset/frames/
dataset/crops/

# YOLO
models/*.pt
runs/

# Additional
logs/